@import "tailwindcss";



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.dot-spin {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: transparent;
  color: transparent;
  box-shadow:
    0 -18px 0 0 #C4C4C4,
    12.727926px -12.727926px 0 0 #C4C4C4,
    18px 0 0 0 #C4C4C4,
    12.727926px 12.727926px 0 0 rgba(196, 196, 196, 0),
    0 18px 0 0 rgba(196, 196, 196, 0),
    -12.727926px 12.727926px 0 0 rgba(196, 196, 196, 0),
    -18px 0 0 0 rgba(196, 196, 196, 0),
    -12.727926px -12.727926px 0 0 rgba(196, 196, 196, 0);

  animation: rotate 1.2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}